<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<input type="text" value="75" class="dial" id="red">
<input type="text" value="75" class="dial" id="green">
<input type="text" value="75" class="dial" id="blue">

<div class="square">
  <h1>This is a Square</h1>
</div>

